<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Ribbons</title>
        
        <meta charset="utf-8" />
        
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
        
        <meta name="description" content="">
        
        <meta name="author" content="">

        <!-- Bootstrap core CSS -->
        
        <link href=" {{ url_for ('static', filename = 'css/bootstrap.min.css') }} " rel="stylesheet">
        
        <!-- Core CSS -->
        <link rel="stylesheet" href=" {{ url_for ('static', filename = 'css/style.css') }} " media="screen" type="text/css"/>

        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
        
        <!-- Core JS -->
        <script type="text/javascript" src=" {{ url_for ('static', filename = 'js/jquery.shop.js') }}"></script>

    </head>